html{
    background-color: black;
    background-image: url(images/maroPNGPNGPNG.jpg);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 50% 100px;

    transition: all 60s;
}

body{
    position: relative;
    top: 50vh; 
    text-align: center;
}

#text{
    /* position: absolute; */
    opacity: 0%;
    color: red; 
    transition: all 10s;
    /* top: 50vh; */
}

#McGovern{
    transition: all 10s;
    opacity: 0%;
}

#Nixon{
    transition: all 10s;
    opacity: 0%;
}

