html{
    background-image: url(images/landingBG.jpg);
    background-size: 100%;
    transition: all 10s;
}

body{
    width: 80vw;
    height: 80vh;
    margin: 30px auto auto auto;
    background-color: tan;
    text-align: center;
    border-radius: 5px;
    border: rgb(180, 154, 120) 3px solid;
    opacity: 98%;
}

#McGovern{
    top:150px;
    left: 46%;
    position: absolute;
    transition: all .2s;
    cursor: not-allowed;
}

#Nixon{
    cursor: pointer;
}




